/* src/styles/Footer2.scss */

@use "../styles/mixins";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  padding: 15px 10px;

  @include mixins.glass-card; // Applies the original blue box styling

  /* Informational Text Styling */
  .footer-info {
    text-align: center;
    font-family: 'Parkinsans', sans-serif; /* Ensure it matches your site */
    max-width: 600px;
    padding: 10px;

    .footer-description {
      font-size: 1.3rem;
      margin-bottom: 10px;
      line-height: 1.5;
    }

    .footer-disclaimer {
      font-size: 1.15rem;
      margin-bottom: 10px;
      line-height: 1.5;
    }

    .footer-title {
      font-size: 1.5rem;
      margin-bottom: 8px;
      text-align: center; /* Centers the heading */
    }

    .footer-tokenomics {
      list-style: none; /* Remove default bullets */
      padding: 0;
      text-align: center; /* Centers the list */

      li {
        position: relative;
        padding-left: 0px;
        font-size: 1.3rem;
        margin-bottom: 6px;

        &:before {
          content: "• ";
          left: 0;
        }
        
      }
    }

    /* Styling for the Nested Tokenomics Box */
    .footer-inner {
      background-color: rgba(0, 0, 0, 0.2); /* More transparent blue */
      padding: 10px 10px; /* Less side padding */
      margin-top: 20px; /* More space above */
      border-radius: 18px; /* Slightly less rounded */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
      width: 100%; /* Ensure it spans the full width of the parent */
      max-width: 500px; /* Optional: Limit the maximum width */
    }
  }

  /* Responsive Adjustments */
  @media only screen and (max-width: 768px) {
    .footer-info {
      max-width: 90%;
    }
  }

  @media only screen and (max-width: 480px) {
    .footer-info {
      max-width: 95%;
    }

    .build-your-own-btn {
      padding: 8px 16px;
      font-size: 1.5rem;
    }

    .footer-info .footer-description{
      font-size: 1.3rem;
    }

    .footer-info .footer-title{
      font-size: 1.5rem;
    }

    .footer-info .footer-tokenomics li {
      font-size: 1.3rem;
    }
  }

  /* Cursor Pointer for Buttons */
  .build-your-own-btn {
    cursor: pointer;
  }
}
